.App {
  text-align: center;
}

.App-header-top{
  background: #76d5ec;
  min-height: 10vh;

}
.App-header {
  background-color:#e452e9;
}
 nav{
   margin-left: 2%;
 }
 nav button{
   margin: .1%;
 }

.logo-frame{
  width: 10%;
  margin: 0 auto;

}

.weather-card{
  background: red;
  color: black;
  width: 50%;
  margin: 0 auto;
}