.App {
  text-align: center;

}

.App-header-top{
  background: #76d5ec;
  min-height: 10vh;

}
.App-header {
  background-color:#e452e9;
}
 nav{
   margin-left: 2%;
 }
 nav button{
   margin: .1%;
 }

.logo-frame{
  width: 10%;
  margin: 0 auto;

}

.weather-card{
  background: #e452e9;
  color: #76d5ec;
  text-shadow: -1px 0 wheat, 0 1px wheat, 1px 0 wheat, 0 -1px wheat;
  width: 50%;
  margin: 0 auto;
}

.weather-image-frame{
  width: 75%;
  margin: 0 auto;
}

button{
  color: #007BFE;
}
form{
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 2% auto;
}